@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelper
@model Project_Ablaihan.Models.Users.User

@{
    ViewData["Title"] = "Edit";
}



<h4 class="subtitle is-4">Add user</h4>
<hr />
<div class="column is-two-fifths" style="margin-left:400px">
    <div class="box">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>



            <div class="field">
                <label asp-for="Name" class="control-label">Name</label>
                <div class="control">
                    <input asp-for="Name" class="input" />
                    <span asp-validation-for="Name" class="has-text-danger"></span>
                </div>
            </div>
            <div class="field">
                <label asp-for="Surname" class="control-label">Surname</label>
                <div class="control">
                    <input asp-for="Surname" class="input" />
                    <span asp-validation-for="Surname" class="has-text-danger"></span>
                </div>
            </div>
            <div class="field">
                <label asp-for="Login" class="control-label">Login</label>
                <div class="control">
                    <input asp-for="Login" class="input" />
                    <span asp-validation-for="Login" class="has-text-danger"></span>
                </div>
            </div>
            <div class="field">
                <label asp-for="Password" class="control-label">Password</label>
                <div class="control">
                    <input asp-for="Password" class="input" />
                    <span asp-validation-for="Password" class="has-text-danger"></span>
                </div>
            </div>



            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" style="position:center">Add</button>
                </div>
            </div>


        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="margin-left:400px">Back to List</a>
</div>